* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Poppins', 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #c41a1a, #111180, #a2a2d6);
    color: #FFFFFF;
    height: fit-content;
    overflow-x: hidden;
}

.music-body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: env(safe-area-inset-top) 1rem env(safe-area-inset-bottom)1rem;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.now-playing {
    margin-top: 2.5rem;
    height: 100%;
    overflow: visible;
}

.music-source {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 3rem;
}

.now-playing h1 {
    font-size: 1rem;
    font-weight: 600;
}

.now-playing .track-info {
    text-align: center;

}

.now-playing img {
    object-fit: cover;
    aspect-ratio: 1/1;
    height: auto;
    width: 65%;
    border-radius: 10px;
    
}

.now-playing .track-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 1rem;

}

.now-playing .track-artist {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.3rem;
    
}

.now-playing .reaction-tab {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    gap: .6rem;
    scroll-snap-type: x mandatory;
    margin-top: .7rem;
    margin-left: .4rem;
    width: 90%;
    max-width: 400px;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 0.5rem;
    overscroll-behavior-x: none;
    -webkit-overflow-scrolling: touch;
}

.now-playing .reaction-tab::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.now-playing .reaction-tab {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.now-playing .reaction-tab .react-btn {
    flex: 0 0 auto;
    scroll-snap-align: center;
    background-color: #8080806b;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    padding: .1rem .5rem;
    transition: all .3s ease;
}

.now-playing .reaction-tab .react-btn:hover {
    background-color: #f3f3f3;
    color: #121212;
    transform: scale(1.1);
}

.now-playing .reaction-tab .react-btn span {
    margin-left: .3rem;
    margin-right: .3rem;
    text-transform: capitalize;
}

.now-playing .timer-container {
    padding-top: 1.5rem;
    text-align: center;
    font-size: .9rem;
    border: none;
}

.now-playing .timer-container .progress-bar {
    height: .4rem;
    width: 70%;
    border: none;
}

.now-playing .timer-container .current-time {
    padding-right: .5rem;
}

.now-playing .timer-container .total-duration {
    padding-left: .5rem;
}

.now-playing .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 1rem 0 1rem
    
}

.now-playing .controls .shuf-rep {
    font-size: 1.2rem;
}

.now-playing .controls .control-btn {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 1.7rem;
    /* padding-right: 2rem; */
    cursor: pointer;
}

.now-playing .controls .control-btn:last-of-type {
    padding-right: 0;
}

.control-btn:hover {
    transform: scale(1.1);
}

#pause-btn {
    display: none;
}

#play-btn, #pause-btn {
    font-size: 2.8rem;
    border: 2px solid white;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    transition: all .3s ease;
}

.active {
    color: #1DB954;
    transform: scale(1.1);
}

#prev-btn {
    padding-right: 1.7rem;
}

#next-btn {
    padding-left: 1.7rem;
}



.signature {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #FFFFFF;
}
